/* .login-box の枠を消して中央寄せのみ残す */
.login-box {
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

/* 入力欄のデザイン */
.login-box input[type="text"],
.login-box input[type="password"] {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #999;
    border-radius: 5px;
}

/* ログインボタンを横長に */
.login-box .login-button {
    width: 50%;
    padding: 12px;
    margin-top: 20px;
    background-color: #8d918de9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

/* 新規作成リンク */
.login-box .create-link {
    display: block;
    margin-top: 15px;
    color: #727679;
    text-decoration: none;
    font-size: 14px;
}

/* ホバー効果 */
.login-box button:hover,
.login-box .create-link:hover {
    opacity: 0.8;
}

.messages {
    list-style-type: none;
    /* ←「・」を消す */
    padding: 0;
}