/* メインコンテンツの中央寄せ設定 */
.main {
    flex: 1;
    display: flex;
}

.main-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.main-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}