/* ページ全体の基本設定 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* メインコンテンツの中央寄せ設定 */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ファイル選択用のinputは非表示にする */
#file-input {
    margin-top: 50px;
    display: none;
}

/* 見た目をカスタマイズしたファイル選択ボタン */
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 30px;
}

/* ファイル選択後に表示される結果ボックス */
.result-box {
    border: 1px solid black;
    width: 400px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 40px; /* 余白追加 */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%; /* 幅を拡大 */
    max-width: 900px;
    flex-direction: column;
}

.image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#preview-image {
    width: 90%;
    max-width: 700px; /* 必要に応じて調整可 */
    display: none;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#crop-ok {
    margin-top: 10px;
    padding: 6px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#ocr-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* 横並び用のラッパー */
.ocr-flexbox {
    display: flex;
    gap: 20px; /* ボックスとボタンの間隔 */
    align-items: flex-start;
    justify-content: center; /* 中央寄せ */
    flex-wrap: wrap; /* 画面が狭いときは縦に折り返し */
    width: 100%; /* 幅を100%に */
}

#ocr-result {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    resize: vertical;
}

.button-right {
    display: flex;
    justify-content: flex-end; /* 右寄せ */
    width: 90%; /* 幅を100%に */
}

#submit-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    height: fit-content; /* テキストエリアの高さに合わせない */
    margin-top: 20px; /* 見た目を整える */
}
