.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.question-box {
    border: 2px solid #8d8d8d;
    border-radius: 8px;
    width: 700px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: #333;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin-top: 20px;
}

.nav-button {
    text-decoration: none;
    color: #555;
    font-size: 20px;
    margin-right: 10px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.nav-button:hover {
    background-color: #f0f0f0;
}

.prev-button {
    margin-right: 8px;
}

.spacer {
    flex: 1;
}

.answer-textbox {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #969da3;
    border-radius: 3px;
    color: #333;
    font-size: 1em;
    line-height: 1.5;
}

.answer-textbox::placeholder {
    color: #999;
}

.button {
    padding: 8px 12px;
    border: none;
    background-color: #3f51b5;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #303f9f;
}

.result-display {
    color: #555;
    font-size: 20px;
    margin-right: 10px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    color: #555;
    cursor: pointer;
}

.result-display:hover {
    background-color: #f0f0f0;
}