{% extends 'base.html' %}
{% load static %}

{% block title %}ルーム作成{% endblock %}

<!-- CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create_room.css' %}">
{% endblock %}

<!-- JS -->
{% block extra_js %}
<!-- <script src="{% static 'js/to_text.js' %}"></script> -->
{% endblock %}

<!-- メイン -->
{% block content %}
<div class="body">
    <div class="room-box">
        <h2>ルーム作成</h2>
        <input type="checkbox" id="name">
        <label for="name">パスワードを使用する</label>
        <br>
        <!-- <input type="text" placeholder="ルーム名を入力" class="room-input"> -->
        <br>
        <button class="create-btn">作成</button>
    </div>
</div>
{% endblock %}