{% extends 'base.html' %}
{% load static %}

{% block title %}新規アカウント作成{% endblock %}

<!-- CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create_account.css' %}">
{% endblock %}

<!-- JS -->
{% block extra_js %}
<!-- <script src="{% static 'js/to_text.js' %}"></script> -->
{% endblock %}

<!-- メイン -->
{% block content %}

<div class="center-box">
    <h2>アカウント作成</h2>
    <input type="text" id="user_name" name="user_name" placeholder="ユーザー名" required>
    <input type="password" id="user_password" name="user_password" placeholder="パスワード" required>
    <div class="button-wrapper">
        <button type="submit">作成</button>
    </div>
</div>

{% endblock %}