{% extends 'base.html' %}
{% load static %}

{% block title %}ルーム{% endblock %}

<!-- CSS -->
{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'css/inside_room.css' %}"> -->
{% endblock %}

<!-- JS -->
{% block extra_js %}
<!-- <script src="{% static 'js/to_text.js' %}"></script> -->
{% endblock %}

<!-- メイン -->
{% block content %}
<div class="center-box">
    <h2>ルーム名：{{ room_name }}</h2>

    <h2>フォルダー一覧</h2>
    {% for folder in folders %}
    <form action="{% url 'view_folder' folder.folder_id %}" method="get" style="display: inline;">
        <button type="submit" class="folder-button">{{ folder.folder_name }}</button>
    </form>
    {% empty %}
    フォルダーがありません。
    {% endfor %}

    <form method="post" action="{% url 'leave_room' %}">
        {% csrf_token %}
        <button type="submit">ルーム退出</button>
    </form>
</div>
{% endblock %}