{% extends 'base.html' %}
{% load static %}

{% block title %}ルーム{% endblock %}

<!-- CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/inside_room.css' %}">
{% endblock %}

<!-- JS -->
{% block extra_js %}
<!-- <script src="{% static 'js/to_text.js' %}"></script> -->
{% endblock %}

<!-- メイン -->
{% block content %}
<div class="center-box">

    <h2>ルーム名：{{ room_name }}</h2>

    <table>
        <tr>
            <th>フォルダー一覧</th>
        </tr>
        <tr>
            <td>
                {% if folders %}
                <div class="folder-style-list">
                    {% for folder in folders %}
                    <a href="{% url 'view_folder' folder.folder_id %}" class="folder-item">
                        <div class="folder-name">{{ folder.folder_name }}</div>
                    </a>
                    {% endfor %}
                </div>
                {% else %}
                <p>フォルダーがありません。</p>
                {% endif %}
            </td>
        </tr>
    </table>

    <form method="post" action="{% url 'leave_room' %}">
        {% csrf_token %}
        <button type="submit" class="leave-button">ルーム退出</button>
    </form>

</div>
{% endblock %}