{% extends 'base.html' %}
{% load static %}

{% block title %}問題作成{% endblock %}

<!-- CSS -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/to_set_quiz.css' %}">
{% endblock %}

<!-- JS -->
{% block extra_js %}
<!-- <script src="{% static 'js/to_text.js' %}"></script> -->
{% endblock %}

<!-- メイン -->
{% block content %}
<div class="main-left">
<h2>送信されたOCR結果：</h2>
<p>{{ ocr_result|linebreaksbr|default:"結果が送信されていません。" }}</p>
<!-- <pre>{{ ocr_result|default:"結果が送信されていません。" }}</pre> -->
</div>
<div class="main-right">
    <form method="POST" action="{% url 'to_set_quiz' %}">
        {% csrf_token %}
        <h2>問題作成</h2>
        <div class="form-group">
            <label for="question">問題文:</label>
            <textarea id="question" name="question" rows="4" cols="50" required></textarea>
        </div>
        <div class="form-group">
            <label for="answer">答え:</label>
            <input type="text" id="answer" name="answer" required>
        </div>
        <button type="submit">問題を作成</button>
    </form>
</div>

{% endblock %}