{% extends 'base.html' %}
{% load static %}

{% block title %}画像読み込み{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/to_text.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" />
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.4.120/pdf.min.js"></script>
<script src="{% static 'js/to_text.js' %}"></script>
{% endblock %}

{% block content %}
<div class="main-left">
    <form id="upload-form">
        <label class="custom-file-upload">
            ファイル選択
            <input type="file" id="file-input" accept=".jpg,.jpeg,.png,.bmp,.gif,.webp,.pdf">
        </label>
    </form>

    <div class="image-container">
        <img id="preview-image">
    </div>
    <button id="crop-ok">文字起こし開始</button>

</div>
<div class="main-right">
    <form id="ocr-form" action="{% url 'to_set_quiz' %}" method="POST">
        {% csrf_token %}
        <div class="ocr-flexbox">
            <div class="result-box">
                <div class="textarea-wrapper">
                    <textarea id="ocr-result" name="ocr_result" required></textarea>
                    <div class="overlay-placeholder" id="placeholder-text">文字起こしの結果</div>
                </div>
            </div>
            <div class="button-right">
                <button id="submit-button" type="submit">送信</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}