{% extends 'base.html' %}
{% load static %}

{% block title %}画像読み込み{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/to_text.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/to_text.js' %}"></script>
{% endblock %}

{% block content %}
    <form id="upload-form">
        <label class="custom-file-upload">
            ファイル選択
            <input type="file" id="file-input">
        </label>
    </form>

    <div class="result-box">
        文字おこしの結果
    </div>
{% endblock %}
